:root { /*..root referencia a raiz do documento*/
    --title-color: #322153; /*atalho para usar em todo documento*/
    --primary-color: #34cb79;
} 

* { /*Pega todos os seletores*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*O tamanho da caixa tem borda*/
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5; /*Cor de fundo*/
    -webkit-font-smoothing: antialiased; /*Muda a apresentação da fonte*/
}

a {
    /*Retira o sublinhado de todos os elementos*/
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

/* BOX MODEL // Modelo de caixa 
Toda caixa tem:
Lagura, altura, espaçamento, preenchimento
bordas, cor, fundo, maneira que é vista pelo html (display),
alinhamento, posicionamento
*/
